.form.orcamento :nth-child(6){
   margin-top: 64px;
}
.form-termos{
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 8px;
   align-content: center;
}
.form.orcamento h3{
    display: flex;
    align-items: center;
    gap: 0 4px;
}
.form.orcamento h3::before{
content: "";
display: inline-block;
background: var(--cor-p1);
width: 16px;
height: 8px;
}
.form.orcamento {
padding-bottom: 160px;

}